In [1]:
import pandas as pd

In [2]:
series_1 = pd.Series([2,9,0,1])                # Creating a series object
print(series_1.values)                         # Print values of the series object

[2 9 0 1]

In [3]:
series_1.index                # Default index of the series object

RangeIndex(start=0, stop=4, step=1)

In [4]:
series_1.index = ['a','b','c','d']                 #Settnig index of the series object

In [5]:
series_1['d']                # Fetching elemnet using new index

1

In [6]:
# Creating dataframe using pandas
class_data = {'Names':['Sangramsing','Jaypalsing','Charansing'],
             'Standard': [7,5,8],
             'Subject': ['English','Mathematics','Science']}

class_df = pd.DataFrame(class_data, index = ['Student1','Student2','Student3'],
                       columns = ['Names','Standard','Subject'])

In [7]:
print(class_df)

                Names  Standard      Subject
Student1  Sangramsing         7      English
Student2   Jaypalsing         5  Mathematics
Student3   Charansing         8      Science

In [8]:
class_df.Names

Student1    Sangramsing
Student2     Jaypalsing
Student3     Charansing
Name: Names, dtype: object

In [9]:
# Add new entry to the dataframe
import numpy as np
class_df.ix['Student4'] = ['Santosh', np.nan, 'History']

/Users/sangram/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
class_df.T                # Take transpose of the dataframe

             Student1     Student2    Student3 Student4
Names     Sangramsing   Jaypalsing  Charansing  Santosh
Standard            7            5           8      NaN
Subject       English  Mathematics     Science  History

In [11]:
class_df.sort_values(by='Standard')   # Sorting of rows by one column

                Names  Standard      Subject
Student2   Jaypalsing       5.0  Mathematics
Student1  Sangramsing       7.0      English
Student3   Charansing       8.0      Science
Student4      Santosh       NaN      History

In [12]:
# Adding one more column to the dataframe as Series object
col_entry = pd.Series(['A','B','A+','C'], 
                      index=['Student1','Student2','Student3','Student4' ] )
class_df['Grade'] = col_entry

In [13]:
print(class_df)

                Names  Standard      Subject Grade
Student1  Sangramsing       7.0      English     A
Student2   Jaypalsing       5.0  Mathematics     B
Student3   Charansing       8.0      Science    A+
Student4      Santosh       NaN      History     C

In [17]:
# Filling the missing entries in the dataframe, inplace
class_df.fillna(10, inplace=True)
print(class_df)

                Names  Standard      Subject Grade
Student1  Sangramsing       7.0      English     A
Student2   Jaypalsing       5.0  Mathematics     B
Student3   Charansing       8.0      Science    A+
Student4      Santosh      10.0      History     C

In [18]:
# Concatenation of 2 dataframes
student_age = pd.DataFrame(data = {'Age': [30,32,33,40]} ,
                           index=['Student1','Student2','Student3','Student4' ] )

In [19]:
print(student_age)

          Age
Student1   30
Student2   32
Student3   33
Student4   40

In [20]:
class_data = pd.concat([class_df, student_age ], axis = 1)
print(class_data)

                Names  Standard      Subject Grade  Age
Student1  Sangramsing       7.0      English     A   30
Student2   Jaypalsing       5.0  Mathematics     B   32
Student3   Charansing       8.0      Science    A+   33
Student4      Santosh      10.0      History     C   40

In [21]:
# MAP Function
class_data['Subject'] = class_data['Subject'].map(lambda x : x + 'Sub')
class_data['Subject']

Student1        EnglishSub
Student2    MathematicsSub
Student3        ScienceSub
Student4        HistorySub
Name: Subject, dtype: object

In [22]:
# APPLY Function
def age_add(x):                 # Defining a new function which will increment the age by 1
    return(x+1)

print('-----Old values-----')
print(class_data['Age'])
print('-----New values-----')
print(class_data['Age'].apply(age_add))          # Applying the age function on top of the age column

-----Old values-----
Student1    30
Student2    32
Student3    33
Student4    40
Name: Age, dtype: int64
-----New values-----
Student1    31
Student2    33
Student3    34
Student4    41
Name: Age, dtype: int64

In [23]:
# Changing datatype of the column
class_data['Grade'] = class_data['Grade'].astype('category')
class_data.Grade.dtypes

CategoricalDtype(categories=['A', 'A+', 'B', 'C'], ordered=False)

In [24]:
# Storing the results 
class_data.to_csv('class_dataset.csv', index=False)